.recommendSlideS {
    .reSwiper {
        margin-top: -24px;
        .swiper-wrapper {
            align-items: flex-end;
            padding-bottom: 76px;
            .swiper-slide {
                width: 245px !important;
                height: 300px;
                border-radius: 220px 220px 0 0;
                overflow: hidden;
                margin-top: 116px;
                margin-bottom: 4px;
                &.swiper-slide-active + div + div + div + div {
                    width: 334px !important;
                    height: 450px;
                    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
                    margin-top: 0;
                    .recommendSlideItemS {
                        background-color: #fff;
                        &::after {
                            content: "";
                            display: none;
                        }
                        a {
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            align-items: center;
                        }
                        .recommendSlideItemInnerS {
                            overflow: hidden;
                            background: #000;
                            width: calc(100% - 54px);
                            height: 70%;
                            border-radius: 197px 197px 0 0;
                        }
                        p {
                            position: inherit;
                            transform: inherit;
                            top: inherit;
                            color: #333;
                            font-size: 18px;
                            line-height: 27px;
                        }
                    }  
                }
                .recommendSlideItemS {
                    position: relative;
                    height: 100%;
                    background-color: #333;                
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, .3);
                    }
                    .recommendSlideItemInnerS {
                        height: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                            margin-left: 50%;
                            transform: translateX(-50%);
                            object-fit: cover;
                        }
                    }                
                    p {
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        color: #fff;
                        font-size: 16px;
                        text-align: center;
                        z-index: 1;
                        transform: translateY(-50%);
                    }                
                }
            }
        }        
    }
    .slide-control {
        position: absolute;
        left: 50%;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 26px;
        max-width: 1000px;
        width: 100%;
        transform: translateX(-50%);
        z-index: 99999;
        .swiper-scrollbar {
            position: initial;
            width: 900px;
            height: 1px;
        }
        .swiper-btns {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 48px;
            height: 100%;
            .swiper-button-prev,
            .swiper-button-next {
                position: initial;
                width: auto;
                height: auto;
                margin-top: 0;
                &::after {
                    content: "";
                    width: 16px;
                    height: 16px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
            }            
            .swiper-button-prev::after {
                background-image: url("../../img/recommendBtnL.svg");
            }
            .swiper-button-next::after {
                background-image: url("../../img/recommendBtnR.svg");
            }
        }
    }
}