.pc {
    display: flex;
}
.mo {
    display: none !important;
}

.food {
    i {
        background-color: #FF7682;
    }
}
.cafe {
    i {
        background-color: #FF9268;
    }
}
.activity {
    i {
        background-color: #A374C8;
    }
}
.landmark {
    i {
        background-color: #8AE89F;
    }
}
.festival {
    i {
        background-color: #77C5FF;
    }
}

@media screen and (max-width: 1024px) {
    .pc {
        display: none !important;
    }
    .mo {
        display: flex !important;
    }
    
    .col-md-6 {
        padding: 0;
    }
    
}